{% extends 'front.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}


    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin-left: -800px;margin-top: 200px; width: 500px;color: white">



                    <h1 style="color: white">Thanks for your Reservation!</h1>
                    <p>
                        We appreciate your business!
                        If you have any questions, please email
                        <a href="mailto:abdelaziz.gharbi@esprit.tn"><a class=""></a></a>.
                    </p>


        </div>

    </div>

{% endblock %}
