

<div class="row">
    <div  style="display: flex;align-items: center;justify-content: center;margin: auto; width: 500px;">

    <div class="card">
        <div class="card-body">
    <h1>Modifier votre  reservation vol avec Sky Travel</h1>

    {{ include('reservationvol/_form.html.twig') }}

    <a href="{{ path('frontvol') }}">back to list</a>
        </div>
    </div>

    </div>

</div>

