
    <div class="row">
        <div  style="display: flex;align-items: center;justify-content: center;margin: auto; width: 500px;">

        <div class="card">
            <div class="card-body">
    <h1>Ajouter une Reservation :</h1>

    {{ include('reservation/_form.html.twig') }}

    <a href="{{ path('app_reservation_back') }}">back to list</a>
    </div>
    </div>

    </div>

    </div>
